{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-regenerator",
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ]
}